@font-face {
    font-family: 'OpenSansBold';
    src: url("../assets/fonts/OpenSans-Bold.ttf") format('truetype');
}


@font-face {
    font-family: 'OpenSansReg';
    src: url("../assets/fonts/OpenSans-Regular.ttf") format('truetype');
}