@use "fonts";
@use "mixins" as m;

$link: hsla(0, 0%, 21%, 1);
$title: hsla(104, 49%, 35%, 1);
$text: hsla(0, 0%, 21%, 1);
$text2: hsla(0, 0%, 21%, 0.9);
$input: hsla(0, 0%, 21%, 0.2);
$card: hsla(0, 0%, 97%, 1);
$body: hsla(0, 0%, 100%, 1);
$border: hsla(0, 0%, 85%, 1);
$blue: hsla(185, 100%, 24%, 1);
$orange: hsla(25, 93%, 48%, 1);

$Hcard: hsla(0, 0%, 90%, 1);
$Hborder: hsla(0, 0%, 75%, 1);